body{
    text-align: center;
}

h1{
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

svg{
    margin: 20px auto;
    max-width: 400px;
    max-height: 400px;
    width: 80vmin;
    height: 80vmin;
    min-width: 200px;
    min-height: 200px;
}

label{
    display: inline-block;
}

button{
    height: 30px;
    padding: 0 10px
}

ol,ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
